body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    

}
h1{
    font-size: 50px;
}
.text-orange {
    color: orange;
}
.display-flex{
    display: flex;
}
section {
    margin-bottom: 100px;
}
#left-border{
    border-left: 8px solid tomato;
}
.half-width{
    width: 50%;
}
.half-width img {
    margin-left: 10%;
    width: 80%;
}
.text-white {
    color: white;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 5px;
}
.text-center {
    text-align: center;
}
.mission-card {
    width: 30%;
    margin-left: 1.66%;
    margin-right: 1.66%;
    padding: 40px;
    border-radius: 30px;
}
#gray-background {
    background-color: rgba(211, 211, 211, 0.349);
}
#salmon-background {
    background-color: rgba(255, 160, 122, 0.411);
}
#yellow-background {
    background-color: rgba(218, 165, 32, 0.281);
}
.mission-card img{
    width: 60%;
}
#develop-section {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 15%;
}
h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
.input-field{
    border: 0;
    outline: none;
    border-bottom: 2px solid black;
    padding: 20px 0px 10px 20px;
}
.contect-input-section {
    margin-left: 25%;
}
#footer-style {
    background-color: black;
    padding: 50px;
}